body {
    margin: 0;
    font-family: Helvetica;
}

#app {
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#leftPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#navButtonsDiv {
    // flex: 1;
}

#dirsDiv {
    // flex: 19;
    overflow: auto;
    flex: 7;
}

#currentScopeMonitor {
    flex: 2;
    background-color: gold;
    display: flex;
    flex-wrap: wrap;
    // align-content: start;
    flex-direction: column;
}

.dirInScope1 {
    color: rgb(201, 201, 201);
    background-color: white;
    height: fit-content;
    width: fit-content;
    margin: 4px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 5em;
}

.locContentObject {
    width: fit-content;
    // padding: 2px;
    // margin-top: 1px;
}

.locContentObject::selection {
    background-color: transparent;
}

#rightPanel {
    flex: 2;
    background-color: green;
    display: flex;
    flex-direction: column;
}

#filesDiv {
    flex: 2;
    background-color: orange;
    overflow: auto;
    // overflow-wrap: anywhere;
    display: flex;
    flex-wrap: wrap;
    // overflow-y: scroll;
}

#filenamesDiv {
    flex: 4;
    background-color: blue;
    overflow: hidden;
    // white-space: nowrap;
}

#creationTimesDiv {
    flex: 2;
    background-color: yellow;
}

#lastAccessTimesDiv {
    flex: 2;
    background-color: pink;
}

#notFilesDiv {
    flex: 1;
    background-color: black;
}

.bar {
    display: flex;
}

#sortByFilename {
    flex: 4;
}

#sortByCreationTime {
    flex: 2;
}

#sortByLastAccessTime {
    flex: 2;
}

.filenameDiv {
    // background-color: red;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}