body {
  margin: 0;
  font-family: Helvetica;
}

#app {
  width: 100vw;
  height: 100vh;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

#leftPanel {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dirsDiv {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  overflow-y: scroll;
}

.dirDiv {
  background-color: antiquewhite;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#currentScopeMonitor {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: gold;
  overflow-y: scroll;
}

#currentScopeDirnamesDiv {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #ff1d1d;
  overflow: hidden;
}

.currentScopeDirnameDiv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#soloButtonsDiv {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #288928;
}

#hideButtonsDiv {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #ffbbc6;
}

.locContentObject {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.locContentObject::-moz-selection {
  background-color: transparent;
}

.locContentObject::selection {
  background-color: transparent;
}

#rightPanel {
  width: 67%;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#filesDiv {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: orange;
  overflow: auto;
  overflow-y: scroll;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow-y: scroll;
}

th {
  text-align: left;
  vertical-align: top;
}

td {
  background-color: red;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#currentScopeDirectoryNameHeader {
  width: 60%;
  max-width: 60%;
}

#filesTable {
  background-color: yellow;
}

#filenameHeader {
  width: 40%;
  max-width: 40%;
}

#filenamesDiv {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: blue;
  overflow: hidden;
}

#creationTimesDiv {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: yellow;
}

#lastAccessTimesDiv {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: pink;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sortByFilename {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#sortByCreationTime {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#sortByLastAccessTime {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.filenameDiv {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*# sourceMappingURL=main.css.map */